# Dependencies
node_modules

# Build output
dist

# Logs
*.log

# Database
data/*.sqlite
data/*.sqlite-*

# Environment / Secrets
.env
.env.*
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode
.idea
*.swp
*.swo
*~

# Docker
docker-compose.override.yml
